.container{border:1px solid grey;
	background-color: lightgrey;
}
header{width:200px;
height: 100px;
margin: 15px 150px 15px 0;
float:left;
}
nav{width: 150px;
height: 50px;
float: left;
margin: 40px 15px 15px 0;
}
footer{width: 1000px;
	height: 150px;
	clear: both;
	margin: 15px 0 15px 0;}
aside{float: left;}
#left{width:492.5px;
	height: 300px;
	clear: left;
	margin: 0 0 15px 0}
#right{width: 492.5px;
	height: 300px;
	margin: 0 0 15px 15px;}
#downleft{width:322px;
	height: 150px;
	clear: left;
	margin: 0 0 15px 0}
#downmiddle{width:322px;
	height: 150px;
	margin:0 0 15px 15px;}
#downright{width:322px;
	height: 150px;
	margin: 0 0 15px 15px;}	
body{padding: 5%;}


